@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }
    .header{
        height: auto;

    }
    .inner-header{
        width: 100%;
    }
    nav.nav{
        display: none;
    }
    .hero-box{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin: 0 -100px;

    }
    .hero-info h3{
        font-size: 40px;
    }
    .hero-box img {
        width: 92%;
        height: 92%;
        margin-top: 30px;
    }
    .hero-info h3{
        font-size: 30px;
        color: #fff;
    }

    .players-container {
        width: 100%;
    }

    .players{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    
}